/* Обнуленя */
* *::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: aliceblue;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: top;
}

body {
    margin: 0;
}

/* Обнуленя */
html,
body {
    font-family: Comfortaa;
    font-size: 14px;
    height: 100%;
    line-height: 1;
    background-color: var(--main_color);
    color: rgb(219, 219, 219);
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

[class*="__container"] {
    max-width: 1000px;
    margin: 0px auto;
    padding: 0px 15px;
}

[class*="__head"] {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 600;
    border-bottom: 3px solid rgb(219, 219, 219);
    padding-bottom: 5px;
}

.main {
    flex: 1 1 auto;
}

:root {
    --main_color: #242424;
    --main_color_dark: #1c1c1c;
    --main_contrast_color: rgb(215, 0, 36);
}


/*-----------------------------------------------vvvvv---HEADER---vvv-----------------------------------*/

.header {
    background-color: var(--main_color_dark);
}

.header__container {
    display: flex;
    min-height: 90px;
    align-items: center;


}

.header__logo a {
    font-family: Poppins;
    font-size: 35px;
    font-weight: 700;
    color: var(--main_contrast_color);
    flex: 0 0 91px;
}



.menu {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    min-height: 90px;

}

.menu__list {

    display: flex;

    gap: 20px;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
    flex: 1 1 50%;
}

.menu__item {}

.menu__link {
    font-size: 15px;
    font-weight: 700;
    color: rgb(219, 219, 219);
    text-transform: uppercase;
    line-height: 1.2;
}

.menu__serch {
    flex: 1 1 40%;
    margin: 5px 10px;
    min-width: 160px;
    min-height: 28px;


    border: 2px solid rgb(219, 219, 219);
    background-color: rgb(37, 37, 37);
    ;
    border-radius: 11px;

}


.menu__log_b {}


.button {
    color: rgb(219, 219, 219);
}

.button_dark {
    padding: 8px 30px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;


    background-color: var(--main_contrast_color);
    border-radius: 5px;
    transition: background-color 0.3s ease 0s;
}

.button_dark:hover {
    background-color: rgb(109, 0, 18);
}

/*-----------------------------------------------vvvvv---MAINE---vvv-----------------------------------*/

.main__container {}

.show_box {
    padding-top: 20px;

}

.box__showcase {

    padding: 12px 15px;

}

.showcase {
    display: flex;
    flex-wrap: wrap;
    min-width: 305px;
    margin-bottom: 8px;

    border-radius: 10px;
    background-color: var(--main_color_dark);
    box-shadow: -5px -5px 16px rgba(166, 166, 166, 0.27);
    border-bottom: 1px solid var(--main_contrast_color);
    border-right: 1px solid var(--main_contrast_color);
}

.box__big_image {
    flex: 1 1 auto;
    padding-right: 15px;
    justify-content: center;
    align-items: center;
}


.big_image {
    width: 100%;
}

.box__inf {
    padding: 2px 5px;
    flex: 1 1 15%;
    min-width: 255PX;
    min-height: 241px;
}


.inf__name {
    font-family: Poppins;
    margin-bottom: 10px;
    font-size: 25px;
}

.inf__imgs {
    display: flex;
    flex-wrap: wrap;
}

.inf__img {
    flex: 0 1 47%;
    margin: 3px;
}

.inf__img img {
    width: 100%;
}

.inf__categorys {
    margin: 7px 0px;
}

.categorys {
    flex-wrap: wrap;
    display: flex;
    gap: 5px;
    max-width: 190px;
}

.categorys__cat {
    font-family: Poppins;
    font-size: 16px;
    padding: 2px 4px;
    border-left: 1px solid var(--main_contrast_color);



}

.cat__link {}

.buy {
    display: flex;
    padding: 10px 5px;
    padding-top: 12px;
    padding-bottom: 0px;
    justify-content: flex-end;
    align-items: center;
    font-size: 22px;

    font-weight: 700;
}

.buy__price {
    margin-right: 15px;

}

.buy_button {
    border: 1px solid aliceblue;

    padding: 7px 10px;
    border-radius: 3px;
    align-items: center;

}

.buy__link {}

/*-------------------------------------------VVVVVV---------КАТАЛОГ------VVVVVV--------------------------------------*/

.catalog {
    margin: 30px 0;
}

.ctlg__items {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.ctlg__showcase {
    flex: 1 1 40%;

    padding: 15px 15px;

    border: none;

}



.ctlg__img img {
    height: 90px;
}

.ctlg__inf {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 8px;
    font-size: 20px;
    max-width: 250px;
}

.ctlg__name {}

.ctl_categorys {}

.categorys__cat {}

.ctlg_price {
    flex: 1 1 auto;
    justify-content: flex-start;
}

/*---------------------------------VVVVVV-----FOOTER-----VVVVV----------------------------------*/

.footer {
    background-color: var(--main_color_dark);
}


.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.footer__cards {
    display: flex;
    align-items: center;
}

.footer-text {}


/*=============================================PAGE====2=================================================*/

/*--------------------------------------------MAIN-----------------------------------------------------*/
.game_cont {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
    font-weight: 700;
}

.content__colm_first {
    flex: 1 1 60%;
}

.long_block {
    margin-top: 15px;
    padding-right: 20px;
}

.long__head {
    font-size: 35px;
    font-weight: 900;
}

.long__img img {
    width: 100%;
}

.long__categorys {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px;
    gap: 20px;


}

.long_gan {
    margin-top: 20px;
    margin-left: 7px;
}

.long_cat {
    padding: 10px;
    border-left: 1px solid var(--main_contrast_color);
}

.long__desk {
    padding: 10px;
    font-size: 16px;
}

.content__colm_two {
    flex: 1 1 20%;

    min-width: 240px;
    font-size: 14px;
    margin-top: 73px;

}

.short_block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.short__img img {
    width: 100%;


}

.short__img {
    flex: 1 0 auto;


}

.short__buy {
    padding: 20px 10px;
    text-align: center;
    background-color: var(--main_color_dark);
    border: 1px solid var(--main_contrast_color);
    border-radius: 7px;
    margin: 10px 0;
}

.short_inf {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;


}

.inf_g {
    display: flex;
    flex: 1 1 100%;
    border-bottom: 0.5px solid rgba(240, 248, 255, 0.396);
    padding-bottom: 10px;

}

.left_inf {
    flex: 1 1;
}

.right_inf {
    text-align: end;
}