@model WebApplication5.Models.Purshes

@{
    ViewData["Title"] = "OrderPost";
}
@{
    Layout = "_Layout";
}

<h1>Успішно</h1>

<div style=" font-size: 20px">
@*Замовлення передано, очікуйте звінок менеджера @Model.name_us*@
</div>
