<!DOCTYPE html>
<html>

<head>
    <title>"Game"</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:500,700,900" rel="stylesheet" />
    <link rel="stylesheet" href="/WebApplication5/wwwroot/css/style.css">

</head>

<body class="page__body">
    <div class="wrapper">
        <header class="header">
            <div class="container header__container">
                <div class="header__logo">
                    <a href="#">Streif</a>
                </div>
                <nav class="header__menu menu">
                    <ul class="menu__list">
                        <il class="menu__item">
                            <a href="" class="menu__link">Крамниця</a>
                        </il>
                        <il class="menu__item">
                            <a href="" class="menu__link">Категорії</a>
                        </il>
                        <il class="menu__item">
                            <a href="" class="menu__link">Профіль</a>
                        </il>
                        <il class="menu__item">
                            <a href="" class="menu__link">Адмін</a>
                        </il>

                    </ul>
                    <div class="menu__serch">

                    </div>
                    <div class="button_dark button">
                        <a href="" class="button button_log">LogIn</a>
                    </div>
                </nav>

            </div>
        </header>
        <main class="main">
            <div class="main__container">
                <div class="show_box">
                    <div class="box__head">Найпопулярніший продукт</div>
                    <div class="box__showcase">
                        <div class="box__big_image">
                            <img src="/WebApplication5/wwwroot/img/1/1.jpg" alt="big_image" class="big_image">
                        </div>
                        <div class="box__inf inf">
                            <div class="inf__name">Cyberpunk 2077</div>
                            <div class="inf__imgs">
                                <div class="inf__img"><img src="/WebApplication5/wwwroot/img/1/_1_.jpg" alt="">
                                </div>
                                <div class="inf__img"><img src="/WebApplication5/wwwroot/img/1/_2_.jpg" alt="">
                                </div>
                                <div class="inf__img"><img src="/WebApplication5/wwwroot/img/1/_3_.jpg" alt="">
                                </div>
                                <div class="inf__img"><img src="/WebApplication5/wwwroot/img/1/_4_.jpg" alt="">
                                </div>
                            </div>
                            <div class="inf__categorys">
                                <div class="int__cat"><a href="" class="cat__link">Action</a></div>
                                <div class="int__cat"><a href="" class="cat__link">RPG</a></div>
                                <div class="int__cat"><a href="" class="cat__link">Shooter</a></div>
                            </div>
                            <div class="inf__buy">
                                <div class="inf__price">
                                    899₴
                                </div>
                                <div class="inf_button">
                                    <a href="" class="inf__link">В кошик</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">Footer</footer>
    </div>
</body>

</html>