<!DOCTYPE html>
<html>

<head>
    <title>"Game"</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:500,700,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:regular,500,600,700" rel="stylesheet" />
    <link rel="stylesheet" href="/WebApplication5/wwwroot/css/style.css">

</head>

<body class="page__body">
    <div class="wrapper">
        <header class="header">
            <div class="container header__container">
                <div class="header__logo">
                    <a href="#">Streif</a>
                </div>
                <nav class="header__menu menu">
                    <ul class="menu__list">
                        <il class="menu__item">
                            <a href="" class="menu__link">Крамниця</a>
                        </il>
                        <il class="menu__item">
                            <a href="" class="menu__link">Категорії</a>
                        </il>
                        <il class="menu__item">
                            <a href="" class="menu__link">Профіль</a>
                        </il>
                        <il class="menu__item">
                            <a href="" class="menu__link">Адмін</a>
                        </il>

                    </ul>
                    <div class="menu__serch">

                    </div>
                    <div class="button_dark button">
                        <a href="" class="button button_log">LogIn</a>
                    </div>
                </nav>

            </div>
        </header>
        <main class="main">
            <div class="main__container game_cont">

                <div class="content__colm_first">
                    <div class="long_block">
                        <div class="long__head">Cyberpunk 2077</div>
                        <div class="long__img">
                            <img src="/WebApplication5/wwwroot/img/1/1.jpg" alt="">
                        </div>
                        <div class="long_gan">Жанри: </div>
                        <div class="long__categorys">
                            <div class="long_cat">
                                <a href="">Action</a>
                            </div>
                            <div class="long_cat">
                                <a href="">RPG</a>
                            </div>
                            <div class="long_cat">
                                <a href="">Shooter</a>
                            </div>
                            <div class="long_cat">
                                <a href="">Action</a>
                            </div>
                            <div class="long_cat">
                                <a href="">RPG</a>
                            </div>
                        </div>
                        <div class="long__desk">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam, velit voluptatem?
                            Doloribus optio dolorum officiis aperiam minus. Recusandae architecto fugit veniam inventore
                            laudantium! Ratione ipsam molestiae recusandae quia amet asperiores?
                        </div>
                    </div>
                </div>
                <div class="content__colm_two">
                    <div class="short_block">
                        <div class="short__img">
                            <img src="/WebApplication5/wwwroot/img/1/_1_.jpg" alt="">
                        </div>
                        <a href="" class="short__buy">
                            <div>В КОШИК</div>
                        </a>
                        <div class="short_inf">
                            <div class="inf__studia inf_g">
                                <div class="left_inf">Ціна: </div>
                                <div class="right_inf">899 ₴</div>
                            </div>
                            <div class="inf__studia inf_g">
                                <div class="left_inf">Developer: </div>
                                <div class="right_inf">CD Project</div>
                            </div>
                            <div class="inf__date inf_g">
                                <div class="left_inf">Дата виходу: </div>
                                <div class="right_inf">22.10.2020
                                </div>
                            </div>
                            <div class="inf__platform inf_g">
                                <div class="left_inf">Платформа:</div>
                                <div class="right_inf">Win
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
        </main>
        <footer class="footer">
            <div class="footer__container">
                <div class="footer-copyright">
                    <div>Streif © 2013-2022</div>
                    <div class=footer__cards>
                        <img src="" style="height: 40px;">
                        <img src="" style="height: 22px;margin-left: 5px;">
                    </div>
                </div>
                <div class="footer-text">
                    <p>Всі права захищені. Копіювання будь-яких матеріалів сайту заборонено! Усі назви продуктів та
                        ігор, компаній та марок,
                        логотипи, товарні знаки та інші матеріали є власністю відповідних власників. Лише ліцензійні
                        ключі до всіх ігрових
                        платформ: Steam, Uplay, Battle.net, Origin та інші. Вигідно, надійно та швидко!</p>
                </div>
            </div>

        </footer>
    </div>
</body>

</html>