

@{

    ViewData["Title"] = "Admin Menu";
    Layout = "_Layout";
}
<h1>Admin Menu</h1>
<hr />
<div class="admin_m_box">
    <a class="admin_m_item buy_button" asp-action="List">
        Games
    </a>
    <a class="admin_m_item buy_button" asp-action="CategoryList">
        Categorys
    </a>
    <a class="admin_m_item buy_button" asp-action="ListOrders">
        Orders
    </a>
</div>
